{{ ansible_managed | comment }}

{% for stanza in pgbackrest_configuration_stanzas %}
{% for host in stanza.hosts %}
{% if 'host' in host.options %}
Host {{ host.options['host'] }}
    StrictHostKeyChecking no
{% endif %}
{% endfor %}
{% endfor %}

{% for repository in pgbackrest_configuration_repositories %}
{% if 'host' in repository.options %}
Host {{ repository.options['host'] }}
    StrictHostKeyChecking no
{% endif %}
{% endfor %}
