{{ ansible_managed | comment }}

[global]
{% for key, value in pgbackrest_configuration_global_options.items() %}
{{ key }}={{ value }}
{% endfor %}

{% for repository in pgbackrest_configuration_repositories %}
{% set outer_loop = loop %}
{% for key, value in repository.options.items() %}
repo{{ outer_loop.index }}-{{ key }}={{ value }}
{% endfor %}

{% endfor %}

[global:archive-push]
{% for key, value in pgbackrest_configuration_archive_push_options.items() %}
{{ key }}={{ value }}
{% endfor %}

[global:archive-get]
{% for key, value in pgbackrest_configuration_archive_get_options.items() %}
{{ key }}={{ value }}
{% endfor %}

{% for stanza in pgbackrest_configuration_stanzas %}
[{{ stanza.name }}]
{% for host in stanza.hosts %}
{% set outer_loop = loop %}
{% for key, value in host.options.items() %}
pg{{ outer_loop.index }}-{{ key }}={{ value }}
{% endfor %}
{% endfor %}

{% endfor %}
